{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <style>
        .navbar-nav .nav-link {
            transition: color 0.2s ease;
        }
        .navbar-nav .nav-link:hover,
        .navbar-nav .nav-link:focus {
            color: #e42121 !important;
        }
        .navbar-nav .nav-link[aria-current="page"] {
            color: #e42121 !important;
        }
    </style>
    <title>JOJ News</title>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg shadow-sm" >
      
        <div class="container">

          
            <a class="navbar-brand d-flex align-items-center text-white fw-bold" href="">
            <img src="{% static 'images/logo1.png' %}" alt="logo" width="80" class="me-2">
            <h6 style="font-size: 13px; color : red">Joj Dakar 2026</h6>
            </a>

            <!-- Bouton mobile -->
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Liens -->
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                <a class="nav-link fw-bold {% if request.resolver_match.url_name == 'liste_article' %}text-danger{% else %}text-dark{% endif %}" href="{% url 'liste_article' %}"{% if request.resolver_match.url_name == 'liste_article' %} aria-current="page"{% endif %}>Accueil</a>
                </li>
                
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold {% if request.resolver_match.url_name == 'ajouter_article' %}text-danger{% else %}text-dark{% endif %}" href="{% url 'ajouter_article' %}"{% if request.resolver_match.url_name == 'ajouter_article' %} aria-current="page"{% endif %}>Ajouter un article</a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form method='post' action="{% url 'logout' %}">
                        {% csrf_token%}
                        <button class="nav-link text-white rounded-3 bg-dark fw-bold" type="submit">Déconnexion</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link text-white rounded-3 bg-dark fw-bold" href="{% url 'login' %}">Connexion</a>
                </li>
                {% endif %}

            </ul>
            </div>
        </div>
    </nav>



    {% block content%}
    {% endblock %}



<footer class="bg-dark text-white pt-5 mt-5">
  <div class="container">
    <div class="row g-4">

      <!-- A propos -->
      <div class="col-md-3">
        <h5 class="fw-bold text-white" >JOJ News</h5>
        <p style="font-size: 14px; color: #a7a1a1;">
          JOJ News est votre source d'information fiable pour suivre
          l’actualité en temps réel au Sénégal et dans le monde.
        </p>
      </div>

      <!-- Actualités -->
      <div class="col-md-3">
        <h5 class="text-white">Actualités</h5>
        <ul class="list-unstyled">
          <li style="font-size: 14px;" ><a style="color: #a7a1a1;" href="#" class="text-decoration-none">Politique</a></li>
          <li style="font-size: 14px; " ><a style="color: #a7a1a1;" href="#" class="text-decoration-none">Sport</a></li>
          <li style="font-size: 14px; " ><a style="color: #a7a1a1;" href="#" class="text-decoration-none">Culture</a></li>
          <li style="font-size: 14px; " ><a style="color: #a7a1a1;" href="#" class="text-decoration-none">Économie</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-md-3">
        <h5 class="text-white ">Contact</h5>
        <p style="font-size: 14px; color: #a7a1a1;" >Email : contact@jojnews.com</p>
        <p style="font-size: 14px; color: #a7a1a1;" >Téléphone : +221 77 000 00 00</p>
        <p style="font-size: 14px; color: #a7a1a1;" >Dakar, Sénégal</p>
      </div>

      <!-- Réseaux sociaux -->
      <div class="col-md-3">
        <h5 class="text-white">Suivez-nous</h5>
        <a href="#" class=" d-block small-text" style="font-size: 14px; color: #a7a1a1;">Facebook</a>
        <a href="#" class="d-block fs-6" style="font-size: 14px; color: #a7a1a1;">Instagram</a>
        <a href="#" class=" d-block" style="font-size: 14px; color: #a7a1a1;">Twitter</a>
        <a href="#" class="d-block" style="font-size: 14px; color: #a7a1a1;">YouTube</a>
      </div>

    </div>

    <!-- Bas du footer -->
    <div class="text-center border-top mt-4 pt-3">
      <p class="mb-0">&copy; 2026 JOJ News - Tous droits réservés</p>
    </div>
  </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>